[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
bobtail = "*"

[dev-packages]
pylint = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3.11"
